
* {
	color: #C8C8C8; /*silver Color*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 750;
}

.orange {
	color: #F8A204; /*Orange Color*/
}

.headpicture {
	margin-bottom: -30px;
}

.header {
	border-top: 5px solid #F8A204;
	width: 100%;
}

.header h1 {
	font-size: 72px;
}

.header h1, h2{
	text-align: center;
	margin: 0px;
}

#arrowBorder {
	height: 35px;
	padding: 5px;
	width: 100%;
	margin: 0px;
	display: inline-block;
	background: url("../Images/arrow.png");
    background-repeat: repeat-x;
    background-position: 8% center;
}

body {
	text-align: center;
	margin: 0;
	width: 100%;
}

.links {
	margin-top: 20px;
}

.linksList, a{
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
}

.currVideo {
	margin: auto;
	height: auto;
	text-align: center;
	width: 95%;
	clear: both;
}

.vid {
	background-color: black;
	display: inline-block;
}

.vidSide {
	width: 500px;
	padding: 25px;
	display: inline-block;
	background: url("../Images/youtube.png"); 
    background-size: 50%;
    background-color: rgba(256,256,256, .7);
	background-blend-mode: color;
	background-position: center center;
	background-repeat: no-repeat;
}

.footer {
	width: 800px;
	margin: auto;
}

.picture {
	width: 150px;
	height: 150px;
	background-color: orange;
	float: left;
}

.footerText {
	margin: 50px 0 0 50px;
	float: left;
	width: 75%;
}

.footerText p{
	margin: 0;
}


